:root{
  --mainColor: #0D0C12;
  --secondaryColor: #17161B;
  --mainText:#F3FEFE;
  --secondaryText: #EBEBEB;
  --borderColor: #757575;
  --buttonColor: #FD0F1F;
  --modal-duration: .6s;
  --modal-color: #428bca;
}

::placeholder{
  color:var(--mainColor);
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: 'Sora';
  color: var(--mainText);
  /* line-height: 100px; */
  height: fit-content;
  display: inline-block;
}

p,
a,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: 'Sora';
  font-weight: 200;
}

h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

html {
  color : #555555;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.row {
  max-width: 1540px;
  margin : 0 auto;
}

.nav-wrapper {
  display: flex;
  height:40px;
  justify-content: center;
  padding-top:7px;
  padding-bottom: 7px;
  align-items: center;
  border-bottom: 1px solid var(--mainColor);
  background-color: var(--mainColor);
}

.searchBar{
  position: absolute;
  text-decoration: none;
  resize: none;
  border-radius: 100px;
  text-align: center;
  outline: none;
  font-size: 20px;
  background-color: var(--secondaryText);
  color:var(--mainColor);
  border: 1px solid var(--secondaryText);
  padding-top: 5px;
  height: 25px;
  width: 400px;
}

.searchIcon{
  grid-area: search-icon;
  position: relative;
  right: 180px;
  top:1px;
  z-index: 1;
}

.movieCover{
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.8));
}

.movieCoverBg{
  z-index: -1;
  position: absolute;
  width: 100%;
  height: auto;
}

.animateBg{
  animation: slideInDown .5s;
}


.movieCoverDetails{
  /* height: 100vh; */
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.movieCover-wrapper{
  display: grid;
  grid-template-columns: repeat(1,minmax(500px, 1fr));
  grid-template:"movie-poster movie-info";
}

.movieCoverInfo{
  grid-area: movie-info;
  display: grid;
  padding-top:30px;
  grid-template:"."
                "movie-title"
                "movie-rating"
                "movie-genre"
                "movie-description"
                "."
                "."
                "."
                "."
                ".";

}

.movieCoverPoster{
  padding: 70px;
  justify-content: center;
  align-items: center;
  grid-area: movie-poster;
}

.movieCoverPosterImg{
  width: 250px;
  height: 375px;
  border-radius: 10px;
}

.movieCoverTitle{
  display: inline-block;
  vertical-align: top;
  grid-area: movie-title;
}

.movieCoverStar{
  grid-area: movie-star
}

.movieCoverRating{
  display:grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-area: movie-rating;
}

.movieCoverRating img{
  float: left;
}

.movieCoverRating p{
  font-size: 34px;
}

.movieCoverGenre{
  grid-area: movie-genre;
}

.movieCoverDescription{
  grid-area: movie-description;
}

.popularMovies{
  height: auto;
  background-color: var(--mainColor);
  padding-top: 40px;
  padding-bottom: 20px;
}

.popularMoviesIntro{
  text-align: center;
  display:flex;
  justify-content: center;
  align-content: center;
}

.popularMoviesIntro img{
  width: 50px;
  height: 50px;
  padding-bottom: 20px;
}

.popularMoviesIntro .pd{
  display:inline-block;
  padding-top: 10px;
  padding-left: 20px;
}

.popularMovie-wrapper{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,300px));
  grid-template-rows: 1fr;
  margin:0 auto;
  justify-content: center;
  justify-items: center;
  text-align: center;
  overflow: hidden;
}

.popularMovie-wrapper p{
  padding-bottom: 20px;
}

.movie{
  overflow: hidden;
}

.movie-poster{
  opacity: .8;
  border-radius: 10px;
  width: 250px;
  height: 375px;
  margin-bottom: 10px;
  transition: transform .3s , opacity .3s;
  overflow: hidden;
}


.movie-poster:hover{
  border-radius: 10px;
  opacity: 1;
  transform: scale(1.03);
  width: 250px;
  height: 375px;
  cursor: pointer;
}

@media screen and (max-width:1200px){
  .movieCoverBg{
    display: none;
  }
  .movieCover{
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), var(--mainColor);
    
  }
}

@media screen and (max-width:425px){
  .movieCoverDetails{
    padding-top: 0px;
  }
}

@media screen and (max-width:768px){
  .movieCoverPosterImg{
    width:250px;
    height: auto;
    border-radius: 10px;
  }
  .searchBar{
    width: 270px;
    height: 20px;
    font-size: 14px;
    padding-top: 3px;
  }
  .searchIcon{
    right: 85px;
    height: auto;
    width: 15px;
    top:0px;
  }
  
  .movieCoverInfo{
    text-align: center;
    justify-items: center;
    row-gap: 10px;
    padding-top: 0px;
  }

  .movieCoverPoster{
    justify-self: center;
  }

  h1{font-size: 25px;}

  .movieCoverRating p{
    float: left;
    align-self: center;
  }
  .movieCoverPoster{
    padding: 10px;
  }
  .movieCover-wrapper{
    grid-template:"movie-poster"
                  "movie-info";
  }
  .movieCoverDescription{font-size: 15px;}
  }

